@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b1a1a;
  height: 100vh;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #5d46e2;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #5d46e2;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #472ddb;
  transform: scale(1.05);
  transition: .2s;
}



/* LOGIN STYLE */

.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #1b1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 3vw;
  color:white;
}

.left-login-image {
  width: 35vw;
}

.left-login > h1 > span {
  color: #5d46e2;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-login {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: #5d46e2;
  font-weight: 800;
  margin: none;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background:#5d46e2;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #6d57eb;
  transition: .2s;
}

.btn-login:hover {
  box-shadow: 0px 0px 10px #583fe2;
  transform: scale(0.9);
}

.btn-login > a{
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50vh;
  }
  .card-login {
    width: 90%;
  }
}

.sobre .txt-sobre .btn-social button:hover {
  box-shadow: 0px 0px 8px #472ddb;
  transform: scale(1.05);
}
/* Header Style */

header {
  padding: 20px 7%;
  margin-bottom: 50px;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  width: 180;
  height: 100px;
}

header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: white;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/*Top of the site style*/

section.topo-do-site {
  padding: 4px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: white;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-do-site h1 span {
  color: #5d46e2;
  font-size: 84px;
}

.topo-do-site .txt-topo-do-site p {
  color: white;
  margin: 40px 0;
}

.img-business {
  width: 500px;
  height: 300px;
}

.topo-do-site .img-topo-do-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* Specialties Style */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: 0.2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #5d46e2;
}


.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* About Style */

section.sobre {
  padding: 40px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: white;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #5d46e2;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.sobre .txt-sobre .btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #5d46e2;
  font-size: 22px;
  margin: 0 5px;
  cursor: pointer;
  transition: .2s;
}

/* MY PROJECTS STLYLE */


main.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-color: #5d46e2;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  border-radius: 15px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ab;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
  opacity: 0;
  transition: .5s;
}

.overlay:hover {
  opacity: 1;
}

/* CONTACT STYLE */

main.formulario {
  padding: 80px 4%;
  margin-top: -100px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

form input, form textarea {
  width: 100%;
  background-color: #242424;
  border: none;
  outline: none;
  padding: 20px 15px;
  color: white;
  border-radius: 15px;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 400px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #5d46e2;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

form .btn-enviar input:hover {
  box-shadow: #472ddb;
  transform: scale(1.05);
}